.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.git/**
test/**
out/test/**
node_modules/**
.eslintignore
.eslintrc.js
.prettierrc
webpack.config.js
coverage/** 